* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #ceffde;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.box {
	background-color: #bee5cb;
	box-shadow: 6px 6px 3px #666666;
  	margin-bottom: 20px;
  	border: 1px solid grey;
  	padding: 20px;
  	border-radius: 2%;
}

.start-btn {
	width: 100%;
}

.quiz-question-text {
	display: block;
	color: grey;
	font-style: italic;
	font-size: 20px;
	margin-bottom: 15px;
}

.quiz-question {
	background-color: white;
}

.correct {
	font-color: green;
}

ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#nav-logo {
	float: right;
	max-height: 90px;
	max-width: 290px;
}

#nav-moto {
	float: left;
}